/*admin splash page*/
#header{
	height:5em;
	width:90%;
	border-bottom:3px solid #000;
	margin-bottom:10px;
	margin-left:10px;
}
#edit{
	float:left;
	width:20%;
	border:1px solid #000;
	margin-right:10px;
	margin-left:10px;
}

#userControl{
	border:1px solid #000;
	width:45%;
	float:left;
}
#events{
	border:1px solid #000;
	width:25%;
	float:left;
	margin-left:10px;
}
.default{
	padding:5px;
	overflow:scroll;
	height:40em;
}
.formhead{
	border-bottom:3px solid #000;
	margin-bottom: 5px;
}
label{
	width:7em;
}
button{
	margin-left:10px;
	margin-right:10px;
	width:8em;
}
